@page
@using PE_wed_part1.DataAccess;
@model PE_wed_part1.Pages.Students.ListModel
@{
}
<h1>@ViewData["test"]</h1>
<form method="post" asp-page-handler="filter">
    <div class="d-flex">
        <lable>Major</lable>
        <select name="major">
            @foreach (Major major in Model.majors)
            {
                <option value="@major.MajorCode">@major.MajorName</option>
            }
        </select>
        <lable>Gander</lable>
        <select name="gander">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="d-flex">
        <label>Sort By:</label>
        <input type="radio" checked name="sortBy" value="Name">Student Name</input>
        <input type="radio" name="sortBy" value="Id">Student Id</radio>
        <input type="radio" name="sortBy" value="Dob">Student Dob</input>
    </div>
    <div>
        <button type="submit">Filter</button>
    </div>
</form>
<br />
<h3>List Students</h3>
@foreach(Student student in Model.students)
{
    <p>@student.StudentId - @student.FullName - @student.Major - @student.Dob</p>
}